<div class="row import-status" data-loading-url="<%= status_path(@user.skoob_user_id) %>">
  <div class="col-sm-2 text-center">
     <%= render 'loading' %>
     <p>
       <%=
         submit_tag 'Voltar', class: 'btn btn-lg btn-primary btn-block',
           :onclick => "window.location = '#{root_path}'"
       %>
     </p>
     <div class="hidden" id="download">
       <%= form_tag exporter_path(@user.skoob_user_id), method: :get do %>
         <%= submit_tag 'Baixar', class: 'btn btn-lg btn-success btn-block' %>
       <% end %>
     </div>
  </div>
  <div class="col-sm-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Importação</h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Status</dt>
          <dd>
            <span class="running" data-status>Em andamento</span>
          </dd>

          <dt><br />Email</dt>
          <dd>
            <%= @user.email %>
          </dd>

          <dt><br />Skoob ID</dt>
          <dd>
            <%= @user.skoob_user_id %>
          </dd>

          <dt><br />Livros importados</dt>
          <dd data-count>
            0
          </dd>
        </ul>

        <div data-duplicated class="hidden">
          <dl>
            <dt><br />
              Livros duplicados
            </dt>
            <dd>

            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
