<div class="row import-status" data-loading-url="<%= status_path(@user.skoob_user_id) %>">
  <div class="col-sm-2 text-center">
    <div class="imported-indicator">
      <%= render 'imported' %>
    </div>

    <div class="importing-indicator">
      <%= render 'importing' %>
    </div>
    <p>
      <%=
        submit_tag 'Recomeçar', class: 'btn btn-lg btn-primary btn-block',
          :onclick => "window.location = '#{root_path}'"
      %>
    </p>
    <div class="hidden" id="download">
      <div class="heartbeat">
        <%= link_to 'Baixar', exporter_path(@user.skoob_user_id), class: 'btn btn-lg btn-success btn-block' %>
      </div>
      <br />
      <div class="disclaimer">
        Agora você só precisa clicar em "Baixar" e usar o arquivo gerado no Goodreads!
      </div>
    </div>
  </div>

  <%= render 'importing_card', user: @user %>
  <%= render 'table_card' %>

  <div class="feedback">
    <button class="btn" data-feedback-button data-toggle="modal" data-target="#myModal">
      <img src="/comments-icon.svg" alt="Fale conosco"/>
    </button>
    <br />
    <span>Tive um problema</span>
  </div>


  <div class="feedback-form">
    form!
  </div>
</div>
